{% extends 'HelixBackofficeBundle:Back:layout.html.twig' %}
{% form_theme form with '@HelixBackoffice/Back/bootstrap_3_layout.html.twig' %}

{% block content %}
<section class="panel">
    <header class="panel-heading">
        Ajouter Un Article
    </header>

    <div class="panel-body">
        <div class="form-group">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Ajouter Article" />
    {{ form_end(form) }}
        </div>
    </div>
</section>
{% endblock content %}
