{% extends 'HelixFrontBundle:Template:Layout.html.twig' %}

{% block title %}Qui sommes nous | Helix{% endblock title %}

{% block pagetitle %} Qui sommes nous {% endblock %}
{% block pageracine %} Accueil {% endblock %}
{% block pageactuelle %} Qui sommes nous {% endblock %}

{% block container %}
    <br><br><br><br><br><br><br><br><br>
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <center><strong>Désolé!</strong> Cette page est en cours de construction</center>
</div>
    <br><br><br><br><br><br><br><br><br>
{% endblock %}