{% extends '@HelixMessage/layout.html.twig' %}

{% block container %}

    <h2>Nouveau message à {{ user.username }}</h2>

    {{ form_start(form, {'method': 'post', 'action': path('fos_message_thread_new')}) }}
        {{ form_widget(form, {'method': 'post', 'action': path('fos_message_thread_new')}) }}

        <input type="submit" />
    {{ form_end(form) }}

{% endblock %}
