{% extends '@HelixMessage/layout.html.twig' %}

{% block container %}

    <center><h2>Boite de réception</h2></center>
    <br><br><br><br>




{% if is_granted('ROLE_SPONSOR') %}
    <a href="{{ url('fos_message_thread_new' )}}">{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</a>
{% endif %}
    {% include '@HelixMessage/Messages/threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
