{% extends '@HelixMessage/layout.html.twig' %}

{% block container %}


    <center><h2> Messages envoyés </h2></center>
    <br><br><br><br>

    {% include '@HelixMessage/Messages/threads_list.html.twig' with {'threads': threads} %}



{% endblock %}
